.filters-lead {
    margin-top: 20px;
    margin-bottom: 4px;
}

.help-block label {
    cursor: pointer;
}


#filters-accordion a.panel-heading-anchor {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #6d6d6d;
}
#filters-accordion a.panel-heading-anchor:hover {
    text-decoration: none;
}
#filters-accordion a.panel-heading-anchor .panel-heading {
    background-color: #f5f5f5;
    cursor: s-resize;
}
#filters-accordion .panel-title span {
    float: right;
}
#filters-accordion .btn-filter.full-width {
    width: 100%;
}
#filters-accordion .select-all:hover, #filters-accordion .deselect-all:hover, #filters-accordion .reset-filters:hover {
    cursor: pointer;
}
#filters-accordion .reset-filters-box {
    margin-top: 6px;
}

.panel-body .btn {
    margin-bottom: 3px;
}

.btn-actions {
    margin-right: 2px;
}


div.dataTables_wrapper div.dataTables_info {
    white-space: normal !important;
}

table.dataTable tr.selected {
    background-color: #004E7B !important;
}
