.help-block label {
    cursor: pointer;
}


#filters-accordion a.panel-heading-anchor {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #6d6d6d;
}
#filters-accordion a.panel-heading-anchor:hover {
    text-decoration: none;
}
#filters-accordion a.panel-heading-anchor .panel-heading {
    background-color: #f5f5f5;
    cursor: s-resize;
}
#filters-accordion .panel-title span {
    float: right;
}
#filters-accordion .btn-filter.full-width {
    width: 100%;
}
#filters-accordion .select-all:hover, #filters-accordion .deselect-all:hover, #filters-accordion .show-more:hover {
    cursor: pointer;
}

.panel-body .btn {
    margin-bottom: 3px;
}

.panel-fix .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}
.panel-well-fix {
    margin-bottom: 0;
}

.buttons-cols-vis {
    padding: 5px;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_info {
    white-space: normal !important;
}
