.help-block label {
    cursor: pointer;
}


#filters-accordion .panel-heading a {
    color: #6d6d6d;
}
#filters-accordion .panel-heading a:hover {
    text-decoration: none;
}
#filters-accordion .panel-title span {
    float: right;
}
#filters-accordion .btn-filter {
    margin-bottom: 3px;
}
#filters-accordion .btn-filter.full-width {
    width: 100%;
}
