<a class="btn-filter filter-checkbox btn btn-primary hidden hidden-default" data-value="{{ element }}" data-identifier="{{ identifier }}">
    {{ element|trans({}, identifier) }} <i class="fa fa-square"></i>
</a>
