<a class="btn-filter filter-checkbox btn btn-primary active" data-value="{{ element }}" data-identifier="{{ identifier }}">
    {{ element|trans({}, identifier) }} <i class="fa fa-check-square"></i>
</a>
