{% extends 'materials/_panel.html.twig' %}

{% set identifier = 'asl' %}
{% set elements = asl %}

{% block panel_footer %}
  <div class="panel-footer">
    <i class="fa fa-info-circle"></i> {{ 'reference_books_examples'|trans }}
  </div>
{% endblock %}