<button class="alert alert-info alert-light alert-filter btn-filter filter-toggle" data-value="install" data-identifier="install">
  <strong><i class="fa fa-square-o"></i> {{ 'preinstalled_only'|trans }} (<i class="fa fa-desktop" aria-hidden="true"></i>)</strong>
</button>
<button class="alert alert-info alert-light alert-filter btn-filter filter-toggle" data-value="true" data-identifier="ble">
  <strong><i class="fa fa-square-o"></i> {{ 'loanable_only'|trans }}</strong>
</button>