{% extends 'materials/_panel.html.twig' %}

{% block panel_main %}
    {% for element in elements %}
        <a class="btn-filter filter-radio full-width btn btn-default{% if element == radio %} active filter-radio-all{% endif %}" data-value="{{ element }}" data-identifier="{{ identifier }}">
            {{ element|trans({}, identifier) }}&nbsp;
            {% if element == radio %}
                <i class="fa fa-check-circle"></i>
            {% else %}
                <i class="fa fa-circle-o"></i>
            {% endif %}
        </a>
    {% endfor %}
{% endblock %}