<div id="filters-accordion">
  <h2>{{ 'search_criteria'|trans }}</h2>
  <div class="panel-group">
    {% set expanded = false %}
    {% include 'materials/_filters_sprachniveau.html.twig' %}
    {% include 'materials/_filters_fertigkeit.html.twig' %}
    {% include 'materials/_filters__combitrick.html.twig' %}
    {% include 'materials/_filters_fachbezug.html.twig' %}
    {% include 'materials/_filters_ausgangssprache.html.twig' %}
    {% include 'materials/_filters_medium.html.twig' %}
    {% include 'materials/_filters_jahr.html.twig' %}
    {% include 'materials/_filters_asl.html.twig' %}
    <p class="text-center reset-filters-box"><a class="reset-filters">{{ 'reset_all'|trans }}</a></p>
  </div>
  <div class="panel-group">
    {% include 'materials/_filters_cols.html.twig' %}
  </div>
  <div class="panel-group">
    {% include 'materials/_filters_search.html.twig' %}
  </div>
</div>
