{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="page-header">
                <h3>Filtres</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 table-responsive">
            <div class="page-header">
                <h2>Matériel d'autoapprentissage</h2>
            </div>
            <table id="materials" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Niveaux cible</th>
                        <th>Compétences</th>
                        <th>Thématiques</th>
                        <th>Langue de départ</th>
                        <th>Média</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Titre</th>
                        <th>Niveaux cible</th>
                        <th>Compétences</th>
                        <th>Thématiques</th>
                        <th>Langue de départ</th>
                        <th>Média</th>
                    </tr>
                </tfoot>
            </table>

            <div class="page-header">
                <h2>Liens d'autoapprentissage</h2>
            </div>
        </div>
    </div>
{% endblock %}
