{% extends 'base.html.twig' %}

{% block body %}
    <div id="materials" class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtres</h3>
                </div>
                <div class="panel-body">
                    {% include "materials/filters.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills" role="pilllist">
                        <li role="presentation" class="active">
                            <a href="#materials-tab" aria-controls="materials-tab" role="pill" data-toggle="pill">Matériel</a>
                        </li>
                        <li role="presentation">
                            <a href="#links-tab" aria-controls="links-tab" role="pill" data-toggle="pill">Liens</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="materials-tab">
                            {% include "materials/materials.html.twig" %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="links-tab">
                            TODO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
