{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Matériel d'autoapprentissage <small>Base de données</small></h1>
            </div>
        </div>
    </div>
{% endblock %}
