{% extends 'base.html.twig' %}

{% block body %}
    <div id="materials" class="row">
        <div class="col-xs-12">
            {% include "materials/spr.html.twig" %}
        </div>
        <div class="col-xs-12 col-sm-3">
            {% include "materials/filters.html.twig" %}
        </div>
        <div class="col-xs-12 col-sm-9 table-responsive">
            {% include "materials/materials.html.twig" %}
        </div>
    </div>
{% endblock %}
