<p class="lead text-center">
    {{ 'which_lang'|trans}}
    <select id="select-spr">
        {% for element in spr %}
            <option value="{{ element }}">{{ element|trans({}, 'spr') }}</option>
        {% endfor %}
    </select>
</p>
<hr>
