<p class="lead text-center">
    {{ 'which_lang'|trans}}
    <select id="select-spr">
        {% for key, element in spr %}
            <option value="{{ key }}">{{ element }}</option>
        {% endfor %}
    </select>
</p>
<hr>
